.day-mode.linked{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: rgb(209, 209, 209);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.night-mode.linked{
    -fx-text-fill: rgb(0, 170, 255);
    -fx-background-color: rgb(80, 80, 80);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.day-mode.smallhbox{
    -fx-background-color : rgb(209, 209, 209);
}
.night-mode.smallhbox{
    -fx-background-color : rgb(80, 80, 80);
}
/*
.day-mode.combo{
    -fx-background-color : red;
}
.night-mode.combo{
    -fx-background-color : pink;
}
*/
.day-mode.titlelabel{
    -fx-background-color : rgb(131, 131, 131);
    -fx-text-fill : beige;
}
.night-mode.titlelabel{
    -fx-background-color : rgb(131, 131, 131);;
    -fx-text-fill : white;
}
.day-mode.header{
    -fx-background-color : rgb(131, 131, 131);
}
.night-mode.header{
    -fx-background-color : rgb(131, 131, 131);
}
/*
.day-mode.root1{
    -fx-background-color : black;
}
.night-mode.root1{
    -fx-background-color : yellow;
}
*/
.day-mode{
    -fx-background-color : rgb(209, 209, 209);
}
.night-mode{
    
}
/*

.root{
    -fx-background-color : black;
}
.root.day-mode{
    -fx-background-color : yellow;
}
.root.night-mode{
    -fx-background-color : black;
}


.headerContainer.night-mode{
    -fx-background-color : brown;
}
.headerContainer.day-mode{
    -fx-background-color : white;
}

.labelcss{
    -fx-background-color : blue;
}
.labelcss.day-mode{
    -fx-background-color : gray;
    -fx-highlight-fill: white;
}
.labelcss.dark-mode{
    -fx-background-color : white;
    -fx-highlight-fill: black;
}

.comboboxListDeroulante{
    -fx-background-color : red;
}

.listeExerciceParNiveau{
    -fx-background-color : pink;
}

.jspcequeC{
    -fx-background-color : brown;
}
/*
.day-mode-button {
    -fx-font-size: 20px;
}
.night-mode{
    -fx-text-fill: rgb(132, 0, 255);
    -fx-background-color: rgb(67, 63, 63);
}
.root.night-mode{
    -fx-background-color: rgb(67, 63, 63);

}
.button.night-mode{
    -fx-background-color: rgb(67, 63, 63);
}
/*
.day-mode{-fx-text-fill: white;}


.ListeHBoxExercice.night-mode{
    -fx-text-fill: white;
    fx-background-color: rgb(67, 63, 63);
}

.ListeHBoxExercice.day-mode{
    -fx-text-fill: rgb(0, 0, 0);
    fx-background-color: rgb(67, 63, 63);
}
*/