.day-mode.linked {
    -fx-text-fill: rgb(0, 170, 255);
    -fx-background-color: rgb(209, 209, 209);
    background-color: rgb(209, 209, 209);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    border-radius: 15px;
}

.night-mode.linked {
    -fx-text-fill: rgb(0, 170, 255);
    -fx-background-color: rgb(80, 80, 80);
    background-color: rgb(80, 80, 80);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    border-radius: 15px;
}

.day-mode.smallhbox {
    -fx-background-color: rgb(209, 209, 209);
    background-color: rgb(209, 209, 209);
}

.night-mode.smallhbox {
    -fx-background-color: rgb(80, 80, 80);
    background-color: rgb(80, 80, 80);
}

.day-mode.titlelabel {
    -fx-background-color: rgb(131, 131, 131);
    background-color: rgb(131, 131, 131);
    -fx-text-fill: beige;
}

.night-mode.titlelabel {
    -fx-background-color: rgb(131, 131, 131);
    background-color: rgb(131, 131, 131);
    -fx-text-fill: white;
}

.night-mode.header {
    -fx-background-color: rgb(131, 131, 131);
    background-color: rgb(131, 131, 131);
}

.day-mode {
    -fx-text-fill: black;
}

.night-mode {
    -fx-background-color: rgb(67, 63, 63);
    background-color: rgb(67, 63, 63);
    -fx-text-fill: white;
    -fx-background-color: rgb(67, 63, 63);
}

.day-mode-button {
    font-size: 20px;
    -fx-font-size: 20px;
}

.header {
    -fx-padding: 10px;
    padding: 10px;
    -fx-text-fill: white;
    font-size: 18px;
    -fx-font-size: 18px;
}