.text-area {
    font-size: 18px;
    -fx-font-size: 18px;
}

.outputTextArea {
    -fx-pref-height: 250px;
}

.text-area.day-mode {
    -fx-control-inner-background: white;
    -fx-highlight-fill: #d6d6d6;
    -fx-highlight-text-fill: black;
}

.text-area.night-mode {
    -fx-control-inner-background: rgb(67, 63, 63);
    -fx-highlight-fill: #2f2f2f;
    -fx-highlight-text-fill: white;
}

.day-mode {
    -fx-text-fill: black;
}

.night-mode {
    -fx-background-color: rgb(67, 63, 63);
    background-color: rgb(67, 63, 63);
    -fx-text-fill: white;
    -fx-background-color: rgb(67, 63, 63);
}

.day-mode-button {
    font-size: 20px;
    -fx-font-size: 20px;
}

.header {
    -fx-padding: 10px;
    padding: 10px;
    -fx-text-fill: white;
    font-size: 18px;
    -fx-font-size: 18px;
}

.icon-button,
.normal-button,
.green-button {
    -fx-background-color: #d6d6d6;
    background-color: #d6d6d6;
    -fx-text-fill: black;
}

.root {
    -fx-background-color: white;
    background-color: white;
}

.root.day-mode {
    -fx-background-color: white;
    background-color: white;
}

.root.night-mode,
scene.night-mode {
    -fx-background-color: rgb(67, 63, 63);
    background-color: rgb(67, 63, 63);

}

.text-area.two.night-mode {
    -fx-control-inner-background: #2f2f2f;
    -fx-highlight-fill: #555555;
    -fx-highlight-text-fill: white;
}

.root, 
.bottom-vbox {
    -fx-background-color: #6f6f6f;
    background-color: #6f6f6f;
}

.bottom-vbox {
    -fx-background-color: #d6d6d6;
    background-color: #d6d6d6;
}



.title-label {
    -fx-font-size: 24px;
    font-size: 24px;
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-text-fill: white;
}

.green-button {
    -fx-background-color: #28a745;
    background-color: #28a745;
    -fx-text-fill: white;
}

.red-button {
    -fx-background-color: #dc3545;
    background-color: #dc3545;
    -fx-text-fill: white;
}

.output-label {
    -fx-font-size: 20px;
    font-size: 20px;
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-alignment: center-left;
}

.night-mode .button {
    -fx-background-color: rgb(110, 108, 108);
    background-color: rgb(110, 108, 108);
    -fx-text-fill: white;
}

.night-mode .green-button {
    -fx-background-color: darkgreen;
    background-color: darkgreen;
    -fx-text-fill: white;
}

.night-mode .red-button {
    -fx-background-color: darkred;
    background-color: darkred;
    -fx-text-fill: white;
}

.night-mode .button-box {
    background-color: rgb(67, 63, 63);
    -fx-background-color: rgb(67, 63, 63);
}

.night-mode .button-box .button {
    -fx-background-color: rgb(110, 108, 108);
    background-color: rgb(110, 108, 108);
    -fx-text-fill: white;
}